body{
    color:#333;
    text-align: center;
    font-family: Courier;
}

.container{
    border: 1px solid #ddd;
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
    text-align-last: left;
}

.container h1{
    font-size: 34px;
}